/* ホームコンテナのスタイル */
body {
    background-color: rgb(111, 209, 110);
}
.home-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(100, 224, 145);
    text-align: center; /* センタリング */
    border-radius: 10px;
    padding: 80px; /* 余白 */

}

/* ボタンのスタイル */

.home-container a {
    display: inline-block; /*ブロック要素のように振る舞わせる*/
    padding: 10px 20px; /* パディング */
    margin: 10px; /* 余白 */
    text-decoration: none; /* 下線を消す */
    border-radius: 5px; /* 角丸 */
    font-size: 16px; /* フォントサイズ */
}


.signup-button  {
    color: rgb(255, 255, 255); /* 文字色 */
    background-color: rgb(20, 65, 155);
}


.signin-button  {
    background-color: aliceblue;
    color: rgb(0, 0, 0); 
}

.form {
    padding: 20px;



}